/* Grid CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'BebasNeueRegular';*/
    /*font-family: 'Open Sans';*/
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


/* End of Grid CSS */


/* General CSS */

.cat_button {
    color: white;
    font-size: 16px;
    border: 1px solid;
    padding: 8px 30px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.remove_button {
    font-size: 16px;
    border: 1px solid;
    padding: 8px 30px;
    margin-bottom:25px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


/* End of General CSS */


/* Header CSS */

.main_header {
    height: 146px;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

.main_header__logo {
    float: left;
    display: flex;
    padding: 10px 0px;
}

.main_header__image img {
    float: left;
    max-height: 126px;
}

.main_header__title {
    flex: 1;
    float: left;
    display: flex;
    color: white;
    margin-left: 5px;
    letter-spacing: 1px;
    align-items: center;
}

.main_header__navigation {
    float: right;
    height: 146px;
    display: flex;
    align-items: center;
}

.main_header__navigation ul {
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
}

.main_header__navigation> ul > li {
    margin-left: 15px;
    display: inline;
    position:relative;
}

.main_header__navigation a {
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main_header__navigation li a:hover{
    color: grey;
}
.main_header__navigation li ul {
    display:none;
}
.main_header__navigation li:hover ul{
    display:inline-block;

}
.nested_list{
    position:absolute;
    top:100%;
    right:0;
}
.nested_list li{
    display:inline-block;
    position:relative;
    padding-right:9px; 
    font-size:16px;

}
.nested_list  li  a{
    color: rgb(255, 255, 255);
}
/* End of Header CSS */


/* Main CSS */

#main {
    float: left;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.main_banner {
    float: left;
    width: 100%;
    margin: 40px 0;
}

.main_banner__item {
    float: left;
    width: 100%;
    height: 550px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-end;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main_banner__slider {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main_banner__slider .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
}

.main_banner__slider .owl-nav span {
    display: none;
}

.main_banner__slider .owl-prev {
    background: rgb(241, 241, 241, 0.5) url("../images/prev.jpg") no-repeat center !important;
    background-size: 18px !important;
    width: 40px;
    border-radius: 50%;
}

.main_banner__slider .owl-next {
    background: rgb(241, 241, 241, 0.5) url("../images/next.jpg") no-repeat center !important;
    background-size: 18px !important;
    width: 40px;
    border-radius: 50%;
}

.owl-nav :hover{
    background-color: rgb(30, 30, 30,0.5) !important;
}

.main_banner__thumb {
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main_banner__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner__text {
    float: left;
    width: 100%;
    position: relative;
    padding: 60px 40px;
}

.main_banner__text .cat_button {
    margin-bottom: 21px;
}

.main_banner__title {
    float: left;
    width: 100%;
    color: white;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
}

.main_banner__nav {
    float: left;
    width: 100%;
    /*padding: 0 20px;*/
    overflow: hidden;
    background: white;
    /*border: 1px solid black;*/
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.17);
}

.main_banner__list {
    height: 73px;
    display: flex;
}

.main_banner__list li {
    flex: 1;
    display: flex;
    cursor: pointer;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    font-family: 'BebasNeueRegular';
    font-weight: bold;
}

.main_banner__list li:hover,
.main_banner__list li.active {
    color: #e00000;
    background: rgb(246, 246, 246);
}

.inline_articles {
    float: left;
    width: 100%;
}

.inline_articles--four_items .inline_articles__item {
    width: 25%;
}

.inline_articles__container {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inline_articles__item {
    float: left;
    display: flex;
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    flex-direction: column;
}

.inline_articles__thumb {
    float: left;
    width: 100%;
    height: 195px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.inline_articles__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inline_articles__text {
    flex: 1;
    float: left;
    width: 100%;
    padding: 30px;
    background: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.17);
    letter-spacing: 1px;
}

.inline_articles__text a {
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    color: inherit;
    text-decoration: none;
    flex-direction: column;
}

.inline_articles__title {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 1.4em;
}

.inline_articles__divider {
    float: left;
    width: 33px;
    height: 1px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: rgb(234, 234, 234);
}

.inline_articles__cat {
    float: left;
    color: gray;
    width: 100%;
    font-size: 14px;
}


/* End of Main CSS */


/*Footer CSS*/

#footer {
    float: left;
    height: 70px;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

.main_footer {
    display: flex;
    align-items: center;
}

.main_footer__copyright {
    flex-direction: column;
    float: left;
    color: white;
    letter-spacing: 1px;
}


/*Footer CSS*/


/* Contact CSS*/

#contact {
    width: 100%;
    float: left;
}

.contact_content {
    display: flex;
    flex-direction: column;
}

.contact_content__title {
    margin: 25px 0;
}

#contact-form {
    width: 120px;
}

.contact_content__about_us {
    width: 700px;
}

.contact_content__info {
    flex: 1;
    padding-top: 25px;
    padding-right: 0px;
    font-size: 18px;
    float: left;
    letter-spacing: 1px;
}

.contact_content__form {
    float: right;
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;
}

.contact_content__form form {
    flex: 1;
    padding-right: 50px;
}

.contact_content__kontakti {
    flex: 1;
}

.input_holder {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.form_box {
    padding: 10px 5px;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid grey;
}

.form_box:hover {
    border-color: black;
}

.contact_content__map {
    margin-top: 30px;
    height: 600px;
    width: 100%;
}

.contact_content__map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin-top: 20px;
}

#social {
    padding: 10px 0;
    text-align: center;
}

#lista_qyteteve {
    height: 50px;
    font-size: 24px;
    width: 100%;
}

#lista_qyteteve option {
    font-size: 18px;
}

#birth_date {
    height: 50px;
    font-size: 24px;
    width: 100%;
}

#mesazhi {
    height: 300px;
    font-size: 24px;
    width: 100%;
    resize: none;
}

.contact_button {
    width: 25%;
    border-radius: 7px;
    height: 30px;
    font-size: 24px;
    background: rgb(30, 30, 30);
    color: white;
    cursor: pointer;
}
.contact_button:hover{
    background:grey;
}


/* End of Contact CSS */


/* About CSS */

#about {
    width: 100%;
    float: left;
}

.about_content {
    margin-top: 15px;
}

.about_content__title {
    margin: 25px 0;
}

.about_content__desc {
    font-size: 25px;
    letter-spacing: 1px;
}

.about_content__logo>img {
    width: 100%;
    object-fit: cover;
}
.team h1{
    text-align:center;
    margin-bottom: 14px;
}

.team_members{
    display: flex;
    width:100%;
}
.team_members h3 {
    flex: 1;
    text-align: center;
}

.team_image img {
    margin: 0 auto;
    display: block;
}


/* End of About CSS */

/* Shop CSS */


.shop_content{
    display:flex;
}
.shop_item{
    text-align:center;
    flex:1;
    margin-left:15px;
    margin-right:15px;
    border:1px solid #333;
    background-color:#f1f1f1;
    border-radius:5px;
    padding:16px;
    width:33.33%;
}
.shop_item__image{
    object-fit: cover;
    height:284px;
    width:100%;
    border-radius:5px;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top:5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}  
.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus{
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
table{
    border-spacing: 0;
    border-collapse: collapse;  
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th{
    border: 1px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align:left;
}
.text-danger {
    color: #a94442;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}

/* End of Shop CSS */


/*Responsive*/

@media only screen and (min-width:768px) and (max-width:1024px) {
    .element {
        width: 100%;
    }
    .main_header__navigation {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .element{
        width:100%;
    }
    .contact_content__form {
        width: 100%;
        flex-direction: column;
    }
    .shop_content{
        flex-direction: column;
        width:100%;
    }
    .shop_item{
        width:100%;
    }
    .main_header__navigation {
        display: none;
    }
    .contact_content__map {
        height: 450px;
    }
    .contact_content__map iframe {
        height: 80%;
    }
    .team{
        flex-direction: column;
    }

    .team_image img{
        width:100%;
    }
    .inline_articles--four_items .inline_articles__item{
        width:50%;
    }
    .inline_articles__item{
        width:100%;
    }
    
}
#content_buy{
max-width: 1170px;
height: 700px;
display: flex;
margin: auto;
}
.buy{
    
    width: 75%;
    height: 700px;
    float: right;
    display: block;
}
.opcione{
    border: 1px solid black;
    width: 25%;
    height: 700px;
    float: left;
}   
.filter_products{
    padding-left: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: black;
    color: white;
    border: 2px solid rgb(150, 34, 34);
}
.opcione_select input{
    float: right;
    margin-right: 80px;
}
.opcione_select label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.game_genre label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}
.game_genre label input{
    float: right;
    margin-right: 80px;
}
.buy{
    height: 700px;
    
}
.up_content_buy{
    display: flex;
    flex-direction: row;
    height: 70%;
}
.image_game{
    width: 300px;
    height: 400px;
    padding-left: 5px;
    padding-top: 5px;
   
}
.image_galery{
    margin-left: 120px;
    font-size:20px;
}
.about_game {
    width: 500px;
    height: 448px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
    overflow-y:scroll;
    overflow-x:hidden;
    
}
.about_game p{ 
    width: 280px;
    height: 478px;
}
.buy_game{
    width:400px; 
    height: 98%;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 5px;
    
}
.buy_game button{
    width: 150px;
    height: 60px;    
    margin-top: 60px;
    margin-left: 33px;
    font-size:26px;
}
.down_content_buy{
    height: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box1{
    width: 350px;
    height: 200px;
    
}
.box2{
    width: 350px;
    height: 200px;
    
   margin-left: 40px;
}
.img_recomand{
    width: 104px;
    height: 100%;
    float: left;   
}
.img_recomand img{
    border-radius: 10px;
}
.more_recomand{
    padding-left: 8px;
    padding-top: 5px;
    width:  244px;
    height: 100%;
    float: right;
}
.loginbox{
    width: 320px;   
    height: 420px;
    background: rgb(30, 30, 30,0.5);
    color:#fff;
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox input[type="text"],input[type="password"]
{
 border: none;
 border-bottom: 1px solid #fff;
 background: transparent;
 outline: none;
 height: 40px;
 color: #fff;
 font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}
.news {
    width: 1200px;
    height: 800px;
    display: flex;
    margin: auto;
    
}
.lastnews_image{
    width: 400px;
    height: 500px;
    
}
.lastnews_text{

margin-top: 4px;
width: 400px;
height: 300px;
padding-left: 5px;
}
.lastnews_text h1,h3,a{
    text-decoration: none;
}
.lastnews{
    width: 400px;
    float: left;
   
}
.lastnews_ballina{
 width: 70%;   
}
.lastnews_articles{
    
    widows: 600px;
    height: 800px;
    margin-left: 400px;
    padding-left: 5px;
}
.lastnews_articles li{
    border-bottom: 1px solid #eaedf1;
    margin-bottom: 2px;
    width: 600px;
    height: 78px;
    display: block;
    font-size: 26px;
}
.lastnews_articles li a{
    text-decoration: none;
    font-size: 30px;
    
    
}
.lastnews_promotion{
    float: right;
    width: 30%;
    
}
.lastnews_menu li{
    display: block;
}

.button_holder{
    text-align:center;
    margin-bottom:20px;
}

